<%= form_with(model: purchase, url: product_purchases_path, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <table class="table">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Valor da unidade (dotz)</th>
      <th>Imagem</th>
      <th>Valor total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr scope="row">
        <td><%= @product.nome %></td>
        <td><%= @product.valor_dotz %></td>
        <td><%= image_tag @product.imagem, style:"width:50px;" if @product.imagem.attached? %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Visualizar', @product %></td>
          <td><%= link_to 'Editar', edit_product_path(@product) %></td>
          <td><%= link_to 'Deletar', @product, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
        <% end %>
        
      </tr>
  </tbody>
</table> -->


  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade,class:'form-control',min:'1', id:"n1",onblur:"calcular()",required: :true%>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Comprar',class:'btn btn-primary btn-round' %>
  </div>
<% end %>

