<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Product</th>
      <th>Valor do produto</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.client %></td>
        <td><%= purchase.product %></td>
        <td><%= purchase.valor_do_produto %></td>
        <td><%= purchase.quantidade %></td>
        <td><%= link_to 'Edit', edit_product_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', products_path %> |
