<%= render partial: 'dashboard/nav'%>




<div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Comprar Produto</a>
            <%= link_to 'Voltar', products_path,class:'btn btn-primary btn-round' %>

          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        
        </div>
      </nav>
      <!-- End Navbar -->
    
     
<div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                       <%= image_tag @product.imagem ,style:"width:250px;" if @product.imagem.attached? %>
                    </div>
                  </div>
                  <div class="col-8 col-md-8">
                    <div class="numbers">
                    <br>
                      <p class="card-category"><%= @product.nome %></p>
                      <br>
                      
                      <p class="card-category" > Valor Unitário: <div id="n2"><%= @product.valor_dotz%></div> </p>
                 
                      
                    </div>
                  </div>
                </div>
              </div>
                <div class="card-footer ">
                <hr>
                     <p class="card-category" >Valor total de Dotz:</p>
                      <div id="resultado">0</div>
                      <hr>
                <div class="stats">
                  
                  <%= render 'form', purchase: @purchase %>
                   
      
                </div>
              </div>
           
            </div>
          </div>


  

        
    </div>



