<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @client.valor_dotz %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @client.imagem %>
</p>

<p>
  <strong>Saldo dotz:</strong>
  <%= @client.estoque %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
