<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <div class="col-md-8 pr-1">
                <div class="form-group">
                 <%= form.label :nome %>
    <%= form.text_field :nome ,class:'form-control'%>

                </div>
              </div>




     <div class="col-md-8 pr-1">
                <div class="form-group">
                  <%= form.label :valor_dotz %>
    <%= form.text_field :valor_dotz ,class:'form-control'%>

                </div>
              </div>


  <div class="col-md-8 pr-1">

                 <%= form.label :imagem %>
    <%= form.file_field :image,data: { max_file_size: 10.megabytes }  ,class:'form-control'%>

                
              </div>
 <div class="col-md-8 pr-1">
 <div class="form-group">
                 <%= form.label :estoque %>
                <%= form.text_field :estoque,class:'form-control' %>

                </div>
              </div>



  <div class="col-md-8 pr-1">
    <%= form.submit 'Salvar',class:'btn btn-success btn-round' %>
  </div>
<% end %>



