<%- model_class = Product -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:valor_dotz) %></th>
      <th><%= model_class.human_attribute_name(:imagem) %></th>
      <th><%= model_class.human_attribute_name(:estoque) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %></td>
        <td><%= product.nome %></td>
        <td><%= product.valor_dotz %></td>
        <td><%= product.imagem %></td>
        <td><%= product.estoque %></td>
        <td><%=l product.created_at %></td>
        <td class='col-sm-4'>
          <%= link_to t('.Visualizar', :default => t("helpers.links.Visualizar")),
                      product_path(product), :class => 'btn btn-primary' %>
          <% if admin_signed_in? %>
            <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
                        edit_product_path(product), :class => 'btn btn-success' %>
            <%= link_to t('.Deletar', :default => t("helpers.links.Deletar")),
                        product_path(product),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger' %>
          <% end %>
          <%= link_to t('.Comprar produto', :default => t("helpers.links.Comprar produto")),
                        new_product_purchase_path(product), :class => 'btn btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


