<p id="notice"><%= notice %></p>
<div class="container">
  <!-- Content here -->

<h1>Produtos da Loja DOTZ!!</h1>
<% if admin_signed_in? %>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor dotz</th>
      <th>Imagem</th>
      <th>Estoque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr scope="row">
        <td><%= product.nome %></td>
        <td><%= product.valor_dotz %></td>
        <td><%= image_tag product.image, style:"width:50px;" if product.image.attached? %></td>
        <td><%= product.estoque %></td>
        

        <% if admin_signed_in? %>
          <td><%= link_to 'Visualizar', product %></td>
          <td><%= link_to 'Editar', edit_product_path(product) %></td>
          <td><%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
        <% end %>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'Adicionar Produto', new_product_path %> 
  <%end%>



<% if client_signed_in? %>

 <div class="row">
    
   
 <% @products.each do |product| %>
 <div class="col">
<div class="card" style="width: 18rem;">
  <%= image_tag product.image, style:"width:50px;",class: 'card-img-top' if product.image.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= product.nome %></h5>
    <p class="card-text">     <%= product.valor_dotz %>
</p>   
      <%= link_to 'Comprar Produto', new_product_purchase_path(product) , class:"btn btn-primary" %>
  </div>
</div>
<br>

      
       
      <%#= product.estoque %>
        
 </div>
    
        <% end %>


 
   
  </div>

<% end %>
<%= link_to "Página Principal", root_path %></div>
